/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    height: 100%;
}

body {
    font-size: 1em;
    line-height: 1.4;
    opacity: 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: #dfdfdf;
    overflow: hidden;
}

#logo {
    position: absolute;
    width: 198px;
    height: 26px;
    background: url(../img/MSUV-logo.png) no-repeat;
    top: 20px;
    left: 20px;
}

#app-container {
    margin: 0 auto;
    position: relative;
}

#app-container-shadow {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

#app-content {    
    float: left;    
    background: #f2f2f2;
    border: 1px solid #b3b3b3;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    display: none;
    margin-left: 18px;
    overflow: hidden;
    position: relative;   
}

/* Controls
---------------------------*/

#close-btn,
#back-btn {
    position: absolute;
    top: 5px;
    right: 8px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 990;
    background: url(../img/control-btns.png) 0 0 no-repeat;
    display: none;
}

#close-btn:hover {
    background-position: 0 -40px;
}

#back-btn {
    background-position: 0 -80px;
}

#back-btn:hover {
    background-position: 0 -120px;
}

#sponsor {
    position: absolute;
    width: 170px;
    height: 30px;
    bottom: 5px;
    left: 25px;
    z-index: 0;
    font-size: 13px;
    color: #888;
    vertical-align: middle;
}

#sponsor-icon {
    width: 20px;
    height: 19px;
    background: url(../img/sponsor-icon.png) 0 0 no-repeat;
    display: block;
    float: left;
    margin-right: 10px;
}

#close-sponsors {
    width: 20px;
    height: 19px;
    background: url(../img/close-sponsor.png) 0 0 no-repeat;
    display: block;
    float: left;
    opacity: 0;
    margin-left: 10px;
}

#sponsor p {
    margin: 2px 0 0 0;
    float: left;
}

#sponsor:hover {
    color: #444;
    cursor: pointer;
}

#sponsor:hover #sponsor-icon {
    background-position: 0 -19px;
}

#sponsor:hover #close-sponsors {
    background-position: 0 -19px;
}

#sponsor-bgd {
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0px;
    background: #FFF;
    display: none;
    opacity: 0;
}

#sponsor-logo {
    background: url(../img/AMFL-logo.png) 0 0 no-repeat;
    width: 268px;
    height: 14px;
    display: block;
    margin: 70px auto 0;
}

#lang-menu {
    position: absolute;
    top: 12px;
    right: 17px;
    z-index: 900;
    text-align: center;
    color: #666;
    font-size: 11px;
}

.lang-option {    
    background: #f2f2f2;
    padding: 10px;
    margin-right: 5px;
    display: block;
    float: left;
}

.lang-option.active {
    color: #fff;
    background: #060606;
}

.lang-option:hover {
    color: #fff;
    cursor: pointer;
    background: #060606;
}

.lang-option.last-option {
    border: none;
}

/* Searchbox
=================================================*/

#searchbox {
    float: left;    
    width: 250px;
    height: 552px;
    background: #060606;
    z-index: 100;
}

form {
    margin-top: 20px;
}

input, select {
    width: 210px;
    margin: 0 auto 20px;
    background: #060606;
    border: 1px solid #111;
    margin-left: 20px;
    color: #A0A0A0;
}

#keyword {
    width: 188px;
    font-size: 13px;
    height: 35px;
    line-height: 36px;
    padding: 0 10px;
    color: #666;
}

#keyword:hover {
    background: #090909;
}

#live-search {
    height: 30px;
    margin: 20px 20px 37px 30px;
}

#live-label {
    font-size: 14px;
    width: 100px;
    display: block;
    float: left;
    margin-top: 5px;
    color: #444;
}

#live-score {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: -1px;
    display: block;
    float: right;
    width: 70px;
    height: 70px;
    text-align: right;
    margin-right: 7px;
    color: #d1d1d1;
}

#reset-search {
    border-top: 1px solid #151515;
    padding: 10px 20px 10px 30px;
}

#reset-label {
    float: left;
    margin: 5px 0 0;
    font-size: 14px;
    color: #444;   
}

#reset-search:hover {
    background: #080808;
    border-color: #222;
    cursor: pointer;
}

#reset-search:hover #reset-label {
    color: #777;
}

#reset-search:hover #reset-btn {
    background-position: 0 -30px;
}

#reset-btn {
    width: 30px;
    height: 30px;
    background: url(../img/reset-icon.png) 0 0 no-repeat;
    display: block;
    float: right;
}

#reset-btn:hover {
    
}

#search-btn {
    width: 100%;
    height: 70px;
    border-top: 1px solid #151515;
    position: relative;
    cursor: pointer;
}

#search-btn:hover {
    background: #080808;
    border-color: #222;
}

#search-btn:hover #search-btn-icon {
    background-position: 0 -60px;
}

#search-btn-icon {
    width: 30px;
    height: 30px;
    background: url(../img/search-icon.png) 0 0 no-repeat;
    position: absolute;
    top: 19px;
    left: 111px;
    cursor: pointer;
}

#search-btn-icon {
    background-position: 0 -30px;
}

#search-btn.disabled #search-btn-icon {
    background-position: 0 0;
}

#search-btn-icon:hover {
    
}

#submit-search-btn {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    background: transparent;
    padding: 0;
}

/* Select Options ScrollBar
----------------------------*/

#searchbox .mCSB_container {
    margin-right: 10px;
}

#searchbox .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #222;
}



#searchbox.searchbox-shadow {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* Slider
=================================================*/

#slides {
    height: 552px;
    width: 710px;
    float: left;
    z-index:100;
    position: absolute;
    left: 250px;
    background: #f0f0f0;
}

#slides a {
    outline: none !important;
}

.slide img {
    width: 710px;
    height: 552px;
}

/*
    Slides container
    Important:
    Set the width of your slides container
    Set to display none, prevents content flash
*/

.slides_container {
    width:710px;
    height: 552px;
    overflow:hidden;
    position:relative;
    display:none;
}

/*
    Each slide
    Important:
    Set the width of your slides
    If height not specified height will be set by the slide content
    Set to display block
*/

.slides_container div.slide {
    width:710px;
    height:552px;
    display:block;
}


/*
    Next/prev buttons
*/

#slides .next,#slides .prev {
    position:absolute;
    bottom: 0;
    right: 10px;
    width:24px;
    height:43px;
    display:block;
    z-index:101;
}

#slides .prev {
    right:40px;
}

/*
    Pagination
*/

.pagination {
    width: 100px;
    position: absolute;
    right: 0;
    display: block;
    top: 0;
    z-index: 1000;
}

.pagination li {
    float:left;
    margin:0 1px;
    list-style:none;
}

.pagination li a {
    display:block;
    width:12px;
    height:0;
    padding-top:12px;
    background-image:url(../img/pagination.png);
    background-position:0 0;
    float:left;
    overflow:hidden;
}

.pagination li.current a {
    background-position:0 -12px;
}

/*
    Caption
*/

.caption {
    z-index: 500;
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 40px;
    padding: 0 20px;
    background: #000;
    background: rgba(0,0,0,.5);
    width: 670px;
    font-size: 14px;
    line-height: 40px;
    color:#fff;
    /*border-top:1px solid #000;*/
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.caption p {
    margin: 0;
    padding: 0;
}

/* Search resoults
=================================================*/

.thumb-background {
    background: #000;
    position: relative;
}

#search-resoults-outer {
    opacity: 0;
    width: 100%;
    height: 100%;
}

#search-resoults {
    width: 98%;
    height: 98%;
    margin: 1%;
}

#search-resoults img {
    width: 180px;
    height: auto;  
}

#search-resoults img:hover {
    opacity: 0.5;
}

.resoults {
    height: auto;
    padding-bottom: 30px;
    margin: 3px;
    width: 180px;
    cursor:pointer;
}

.resoults span {
    display: block;
}

.resoults span.author {
    color: #333333;
    font-size: 15px;
    line-height: 16px;
    margin: 10px 0 7px 10px;   
}

.resoults span.title {
    font-size: 12px;
    color: #555;
    margin: 0 0 5px 10px;    
}

.resoults span.year {
    font-size: 12px;
    color: #777;
    margin-left: 10px;    
}

#scene-1, #scene-2 {
    width: 100%;
    height: 100%;
    background: transparent;
    display: none;
}

#scene-2 {
    position: absolute;
    top: 0;
    left: 0;
}

/* Details
=================================================*/

#details-outer {
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #f2f2f2;
}

#details {
    width: 98%;
    height: 98%;
    margin: 1%;
}

#images-box {
    width: 44%;
    height: 100%;
    float: left;
}

#images-box a.feat-img {
    display: block;
    float: left;
    border: 1px solid #efefef;
}

#images-box a.feat-img img {
    width: 100%;
}

#more-images {
    width: 100%;
    margin-bottom: 10px;
    float: left;
}

#images-box a.extra-img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    display: block;
    float: left;
    margin: 10px 10px 0 0 ;
    border: 1px solid #efefef;
}

#images-box .extra-img img {
    width: 150%;
    height: auto;
}

/* 360 button */
#images-box .extra-360 img {
    width: 100%;
    height: auto;
}

#images-box a.extra-360 {
    width: 120px;
    height: 120px;
    overflow: hidden;
    display: block;
    float: left;
    margin: 10px 10px 0 0 ;
    border: 1px solid #efefef;
    cursor:pointer;
}
/* 360 button */

#images-box a:hover {
    border: 1px solid #777;
    opacity: 0.8;
}



/* Info
----------------------------*/

#info-box {
    width: 50%;
    margin-left: 5%;
    float: left;
    color: #333;
    margin-top: 30px;
    font-size: 14px;
}

.info-row {
    width: 90%;
    margin-right: 10%;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 10px;
    padding-bottom: 6px;
}

.info-row.last-row {
    border: none;
}

.info-row .label {
    width: 200px;
    color: #888;
    display: block;
    font-size: 12px;
}


/********** Hidden menu **********/

#hidden-bottom-menu {
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #FFF;
    display: none;
}



/* CSS za biografiju na detaljima */

#biografija {
    display:none;
} 

#full-bio { 
    display:none;
}

#bio-label,#more-text:hover {
    cursor: pointer;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-height: 800px) {
    #container-360 {
        margin-top: 40px !important;
    }
}

@media only screen and (max-height: 768px) {
    #holder_first-360 {
        margin-top: -80px;
    }

    #close-360 {
        margin-top: 100px;
    }

    div.round {
        margin-top: 100px;
    }

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

